In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("titanic.csv")

In [3]:
data.columns

Index(['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'],
      dtype='object')

In [4]:
data.head(20)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,3,0,"Van Impe, Mrs. Jean Baptiste (Rosalie Paula Go...",female,30.0000,1,1,345773,24.1500,NaN,S,NaN,NaN,NaN
1,3,0,"Riihivouri, Miss. Susanna Juhantytar ""Sanni""",female,22.0000,0,0,3101295,39.6875,NaN,S,NaN,NaN,NaN
2,3,1,"Davison, Mrs. Thomas Henry (Mary E Finck)",female,NaN,1,0,386525,16.1000,NaN,S,16,NaN,"Liverpool, England Bedford, OH"
3,3,0,"Panula, Master. Urho Abraham",male,2.0000,4,1,3101295,39.6875,NaN,S,NaN,NaN,NaN
4,3,1,"Madsen, Mr. Fridtjof Arne",male,24.0000,0,0,C 17369,7.1417,NaN,S,13,NaN,NaN
5,3,1,"Asplund, Miss. Lillian Gertrud",female,5.0000,4,2,347077,31.3875,NaN,S,15,NaN,"Sweden Worcester, MA"
6,3,0,"Kelly, Mr. James",male,34.5000,0,0,330911,7.8292,NaN,Q,NaN,70.0,NaN
7,3,0,"Mernagh, Mr. Robert",male,NaN,0,0,368703,7.7500,NaN,Q,NaN,NaN,NaN
8,3,0,"Klasen, Miss. Gertrud Emilia",female,1.0000,1,1,350405,12.1833,NaN,S,NaN,NaN,NaN
9,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C,6,NaN,"Paris, France"
10,3,1,"Finoli, Mr. Luigi",male,NaN,0,0,SOTON/O.Q. 3101308,7.0500,NaN,S,15,NaN,"Italy Philadelphia, PA"
11,3,0,"Skoog, Master. Karl Thorsten",male,10.0000,3,2,347088,27.9000,NaN,S,NaN,NaN,NaN
12,1,0,"Stewart, Mr. Albert A",male,NaN,0,0,PC 17605,27.7208,NaN,C,NaN,NaN,"Gallipolis, Ohio / ? Paris / New York"
13,2,1,"Leitch, Miss. Jessie Wills",female,NaN,0,0,248727,33.0000,NaN,S,11,NaN,"London / Chicago, IL"
14,3,0,"Cor, Mr. Liudevit",male,19.0000,0,0,349231,7.8958,NaN,S,NaN,NaN,Austria
15,3,0,"Elias, Mr. Joseph Jr",male,17.0000,1,1,2690,7.2292,NaN,C,NaN,NaN,NaN
16,1,1,"Silvey, Mrs. William Baird (Alice Munger)",female,39.0000,1,0,13507,55.9000,E44,S,11,NaN,"Duluth, MN"
17,3,0,"Ilmakangas, Miss. Pieta Sofia",female,25.0000,1,0,STON/O2. 3101271,7.9250,NaN,S,NaN,NaN,NaN
18,3,1,"Dean, Miss. Elizabeth Gladys ""Millvina""",female,0.1667,1,2,C.A. 2315,20.5750,NaN,S,10,NaN,"Devon, England Wichita, KS"
19,2,0,"Hale, Mr. Reginald",male,30.0000,0,0,250653,13.0000,NaN,S,NaN,75.0,"Auburn, NY"

In [5]:
data.sex.isnull().sum()

0

In [6]:
data = data[['pclass', 'survived', 'sex', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest']]

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [8]:
X = data[['pclass', 'sex', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest']]
y = data['survived']

In [9]:
from sklearn.preprocessing import OneHotEncoder

In [10]:
sex_ohe = OneHotEncoder()
sex_encoded = sex_ohe.fit_transform(X.sex.values.reshape(-1,1)).toarray()

In [11]:
X['female'] = sex_encoded[:,1]

In [12]:
X['male'] = sex_encoded[:,0]

In [13]:
X.drop('sex',axis=1, inplace=True)

In [14]:
X.drop('ticket', axis=1, inplace=True)

In [15]:
X['embarked'].unique()

array(['S', 'Q', 'C', nan], dtype=object)

In [16]:
X['embarked'].isnull().sum()

1

In [17]:
X.embarked.mode()

0    S
dtype: object

In [25]:
X.fillna(value={'embarked' : 'S'}, inplace=True)

In [26]:
X['embarked'].isnull().sum()

0

In [27]:
embarked_ohe = OneHotEncoder()

In [28]:
embarked_encoded = embarked_ohe.fit_transform(X.embarked.values.reshape(-1,1)).toarray()

In [30]:
X['embarked_S'] = embarked_encoded[:,2]

In [31]:
X['embarqued_Q'] = embarked_encoded[:,1]

In [32]:
X['embarqued_C'] = embarked_encoded[:,0]

In [33]:
X.drop('embarked', axis=1, inplace=True)

In [34]:
X.head()

,pclass,age,sibsp,parch,fare,cabin,boat,body,home.dest,female,male,embarked_S,embarqued_Q,embarqued_C
0,3,30.0,1,1,24.1500,NaN,NaN,NaN,NaN,0.0,1.0,1.0,0.0,0.0
1,3,22.0,0,0,39.6875,NaN,NaN,NaN,NaN,0.0,1.0,1.0,0.0,0.0
2,3,NaN,1,0,16.1000,NaN,16,NaN,"Liverpool, England Bedford, OH",0.0,1.0,1.0,0.0,0.0
3,3,2.0,4,1,39.6875,NaN,NaN,NaN,NaN,1.0,0.0,1.0,0.0,0.0
4,3,24.0,0,0,7.1417,NaN,13,NaN,NaN,1.0,0.0,1.0,0.0,0.0

In [35]:
X.cabin.unique()

array([nan, 'B78', 'E44', 'C123', 'F33', 'A21', 'E12', 'E121', 'E40',
       'E8', 'B24', 'C106', 'B71', 'C62 C64', 'C39', 'C30', 'D38', 'B39',
       'E52', 'E31', 'A11', 'C86', 'D11', 'C47', 'D48', 'C82', 'E67',
       'D30', 'C85', 'E49', 'A14', 'B57 B59 B63 B66', 'F', 'B96 B98',
       'C87', 'C78', 'C91', 'C51', 'A34', 'F38', 'D19', 'D', 'B49', 'D46',
       'C89', 'B77', 'E38', 'C23 C25 C27', 'D10 D12', 'B11', 'D7', 'C101',
       'E58', 'C105', 'C45', 'C31', 'D33', 'F G63', 'C54', 'B20', 'B18',
       'E50', 'A24', 'C116', 'A5', 'B86', 'C92', 'F E69', 'B58 B60',
       'D37', 'C80', 'D15', 'E60', 'A7', 'B79', 'E34', 'C125', 'A20',
       'E101', 'C95', 'C126', 'B5', 'D49', 'B82 B84', 'D21', 'D17',
       'C111', 'D56', 'C65', 'B35', 'C22 C26', 'B37', 'A10', 'B3', 'D22',
       'C68', 'D43', 'E68', 'C93', 'A9', 'B38', 'C50', 'C110', 'B28',
       'B61', 'F2', 'D47', 'F4', 'E10', 'D40', 'E25', 'C83', 'C49', 'B69',
       'A31', 'B73', 'A32', 'E33', 'C103', 'E46', 'B36', 'F E57', 'E17',
       'B50', 'B22', 'D36', 'G6', 'C55 C57', 'B51 B53 B55', 'C7', 'C124',
       'B42', 'C97', 'C118', 'E77', 'A18', 'C70', 'B45', 'B4', 'C148',
       'A26', 'D9', 'B41', 'B102', 'C132', 'E63', 'C2', 'B10', 'D28',
       'D20', 'C128', 'T', 'B80', 'B101', 'D34', 'C130', 'D6', 'E45',
       'C90', 'C52', 'C6'], dtype=object)

In [36]:
X.drop('cabin', axis=1, inplace=True)

In [ ]:
X.drop('home.enco')

In [12]:
clf_gini = DecisionTreeClassifier(criterion = "gini", random_state = 100, max_depth = 3, min_samples_leaf = 5 )

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [13]:
clf_gini.fit(X_train, y_train)

ValueError: could not convert string to float: 'male'

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn import tree