In [65]:
import pandas as pd

In [66]:
train_data = pd.read_csv('data/train.csv')

In [67]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [68]:
test_data = pd.read_csv('data/test.csv')

In [69]:
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [135]:
Train = train_data[['Name', 'Age']]

In [136]:
dataset_title = [i.split(",")[1].split(".")[0].strip() for i in Train["Name"]]
Train["Title"] = pd.Series(dataset_title)

/home/missPanda/repos/devenv3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [137]:
Train.head()

                                                Name   Age Title
0                            Braund, Mr. Owen Harris  22.0    Mr
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0   Mrs
2                             Heikkinen, Miss. Laina  26.0  Miss
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0   Mrs
4                           Allen, Mr. William Henry  35.0    Mr

In [138]:
del(Train['Name'])

In [139]:
Train.head()

    Age Title
0  22.0    Mr
1  38.0   Mrs
2  26.0  Miss
3  35.0   Mrs
4  35.0    Mr

In [140]:
Train.dropna(inplace=True)

/home/missPanda/repos/devenv3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [141]:
Train.isnull().sum().sum()

0

In [142]:
import numpy as np

In [143]:
np.sort(Train.Title.unique())

array(['Capt', 'Col', 'Don', 'Dr', 'Jonkheer', 'Lady', 'Major', 'Master',
       'Miss', 'Mlle', 'Mme', 'Mr', 'Mrs', 'Ms', 'Rev', 'Sir',
       'the Countess'], dtype=object)

In [144]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()

In [169]:
title_ohe = ohe.fit_transform(Train.Title.values.reshape(-1,1)).toarray()

In [170]:
title_ohe_df = pd.DataFrame(title_ohe, columns=[x for x in np.sort(Train.Title.unique())])

In [173]:
title_ohe_df.shape

(714, 17)

In [150]:
Train.shape

(714, 2)

In [151]:
title_ohe_df.head()

,Capt,Col,Don,Dr,Jonkheer,Lady,Major,Master,Miss,Mlle,Mme,Mr,Mrs,Ms,Rev,Sir,the Countess
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [152]:
title_ohe_df.isnull().sum().sum()

0

In [153]:
Train.isnull().sum().sum()

0

In [174]:
title_ohe_df.shape

(714, 17)

In [175]:
Train.shape

(714, 2)

In [86]:
Train.head()

,Age,Capt,Col,Don,Dr,Jonkheer,Lady,Major,Master,Miss,Mlle,Mme,Mr,Mrs,Ms,Rev,Sir,the Countess
0,22.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,38.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,26.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,35.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,35.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [87]:
from sklearn.tree import DecisionTreeRegressor
dtr = DecisionTreeRegressor()

In [88]:
from sklearn.model_selection import train_test_split

In [179]:
Xtrain, Xtest, y_train, y_test = train_test_split(title_ohe_df,Train['Age'], test_size=0.30)

In [94]:
Train.isnull().sum().sum()

2646

In [180]:
dtr.fit(Xtrain, y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=None, splitter='best')

In [182]:
prediccion_tree = dtr.predict(Xtest)

In [186]:
from sklearn.metrics import mean_squared_error

In [187]:
mean_squared_error(y_test,prediccion_tree)

134.2223802010579

In [188]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [189]:
lr.fit(Xtrain,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [190]:
prediction_lr = lr.predict(Xtest)

In [192]:
mean_squared_error(y_test,prediction_lr)

9.642213354233015e+27

In [209]:
dtr2 = DecisionTreeRegressor(max_depth=1, min_samples_leaf=1)

In [210]:
depths = np.arange(1, 21)
depths

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20])

In [211]:
num_leafs = [1, 5, 10, 20, 50, 100]

In [212]:
from sklearn.model_selection import GridSearchCV

In [215]:
param_grid = [{'max_depth':depths,
              'min_samples_leaf':num_leafs}]
gs = GridSearchCV(estimator=dtr2, param_grid=param_grid,  cv=10)

In [216]:
gs = gs.fit(Xtrain, y_train)

In [217]:
print(gs.best_score_)

0.2633617771782378

In [218]:
print(gs.best_params_)

{'max_depth': 17, 'min_samples_leaf': 1}

In [219]:
my_model = gs.best_estimator_

In [220]:
my_model.fit(Xtrain, y_train)

DecisionTreeRegressor(criterion='mse', max_depth=17, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=None, splitter='best')

In [222]:
predict_gs = my_model.predict(Xtest)

In [223]:
mean_squared_error(predict_gs, y_test)

134.2223802010579

# Balanceo de clases

**Smote**